*
  padding 0
  margin 0
  box-sizing border-box

body, html
  font 14px "Roboto", sans-serif
  background-color #333333

a
  color #00B7FF

li
  list-style none

::-webkit-scrollbar {
  width: 6px
}

::-webkit-scrollbar-track {
  border 2px solid #333333
}

::-webkit-scrollbar-thumb {
  background-color #333333

}

.wrapper
  padding 100px 95px 0 0
  display flex

.content
  background-color #3b3b3b
  width 100%
  padding 50px 15px 30px 0
  box-shadow 0 0 8px 0 rgba(35, 35, 35, 0.3)
  position relative

.title-page
  font-size 140px
  text-transform uppercase
  font-weight bold
  position absolute
  right 0
  top -120px
  color rgba(255, 255, 255, 0.1)

.global-menu
  width 230px
  flex-shrink 0
  display flex
  align-items center
  flex-direction column

  .menu-item
    &.active,
    &:hover
      background-color #3b3b3b

      .link-menu
        color #fff

    transition background-color .3s
    width 100%

.link-menu
  transition color .3s
  text-transform uppercase
  font-weight 500
  font-size 16px
  color #5f5f5f
  text-decoration none
  width 100%
  display flex
  align-items center
  justify-content center
  height 55px

.logo-container
  margin-top -70px
  margin-bottom 65px
  color #fff

.logo
  margin auto
  width 75px
  display block

.description-logo
  text-transform uppercase
  font-weight bold

.title-and-description
  padding 0 20px 20px

  .title
    color #ddd
    margin-bottom 10px

  .description
    color #5f5f5f

.submit-form
  max-width 500px
  margin auto

  .flex-container
    display flex
    flex-wrap wrap
    justify-content space-between

  .button-container
    margin-top 25px
    display flex

  input, button, .user-description-textarea
    border none
    background transparent
    cursor pointer
    outline none

  input[type="text"]
    border-bottom 1px solid #ddd
    padding 10px 10px
    text-transform capitalize
    width 100%
    box-sizing border-box

  input[type="file"]
    align-self flex-end

  .input-container
    width 48%
    margin-bottom 5px
    display flex
    align-items center

  button[type="submit"]
    background-color #488011
    font-size 16px
    width 80px
    height 20px
    display flex
    align-items center
    justify-content center
    color #fff
    margin-right 15px

  button[type="reset"]
    margin-right 15px

  button[type="reset"],
  button[type="delete"]
    background-color red
    font-size 16px
    width 80px
    height 20px
    display flex
    align-items center
    justify-content center
    color #fff

img
  max-width 100%

.index
  display flex
  align-items center
  justify-content center
  color #333333
  font-size 36px
  font-weight 500
  flex-shrink 0
  width 50px

  &:after
    content "."

.user-img
  width 140px
  height 140px
  background-size cover
  background-position center

.change-element
  background-image url("../img/save-icon.svg")
  margin-bottom 2%

.delete-element
  background-image url("../img/remove-icon.svg")

.change-element,
.delete-element
  background-position center 50%
  background-size 35px
  background-color #333333
  background-repeat no-repeat
  border none
  cursor pointer
  outline none
  display flex
  align-items center
  justify-content center
  flex-direction column-reverse
  padding-top 50%
  font-size 12px
  text-transform uppercase
  font-weight bold
  color #5f5f5f
  height 50%

.users
  max-height 650px
  overflow-y auto
  padding: 3px 3px 3px 18px
  margin-bottom 40px

  .user-container
    display flex
    margin-bottom 20px
    transition box-shadow .3s

    &:hover
      box-shadow 0 0 7px 0 rgba(109, 109, 109, 0.6)

    &:last-child
      margin-bottom 0

  label,
  .title-links
    display block
    margin-bottom 10px
    color #595959
    font-weight 500
    font-size 12px

  .user-description-textarea
    max-height 115px
    min-height 115px

  input,
  .user-description-textarea
    color #595959
    background-color transparent
    border none
    resize none
    height 25px
    width 100%
    outline none
    font-size 14px
    font-weight 300

  .fa
    color #595959

  .left-container,
  .right-container,
  .save-change,
  .delete-element,
  .button-container
    flex-grow 1

  .right-container
    background-color #333333
    padding 30px
    box-sizing border-box
    max-width 480px

  .button-container
    margin-left 1%
    display flex
    flex-direction column
    min-width 125px

  .left-container
    background-color #363636
    display flex
    min-width 400px

    input,
    .user-description-textarea
      border-bottom 1px solid #595959
      padding-bottom 10px
      transition-duration .3s
      transition-property color, border-bottom-color

      &:hover, &:focus
        color #fff
        border-bottom-color #fff

  .user-image-container
    width 200px
    background-color #333333
    display flex
    align-items center
    justify-content center
    flex-direction column
    flex-shrink 0

  .user-description-container
    padding 30px
    width 100%
    display flex
    flex-direction row
    align-items flex-start

  .user-name-and-position,
  .user-description
    width 100%

  .user-name-and-position
    padding-right 35px

  .user-name
    margin-bottom 40px

  .social-links
    font-style italic
    max-width 420px

    .flex-container
      display flex
      flex-wrap wrap
      align-items center
      justify-content space-between
      width 100%

  .facebook,
  .linkedin,
  .behance,
  .dribbble
    width 200px
    height 40px
    background-color #363636
    display flex
    flex-wrap nowrap
    align-items center
    justify-content center
    padding 0 1px
    box-sizing border-box
    margin-bottom 20px
    border-radius 3px

    input
      padding-left 15px

    &:hover, &:focus
      background-color #d6d6d6

  .icon
    width 37px
    height 37px
    flex-shrink 0
    display flex
    align-items center
    justify-content center
    background-color #333333

.add-user
  font-weight bold
  color #333333
  font-size 18px
  text-transform uppercase
  width 275px
  height 60px
  background-color transparent
  outline none
  cursor pointer
  border 2px dashed
  display flex
  align-items center
  justify-content center
  margin auto
  transition-property color, border-color
  transition-duration .3s

  &:hover
    border-color #ffffff
    color #fff

.modal-form
  position fixed
  bottom 0
  left 0
  right 0
  transition transform .3s
  transform translateY(300%)
  max-width 500px
  margin auto

  &.active
    transform translateY(0)

  form
    box-shadow 0 0 7px 0 rgba(109, 109, 109, 0.6)
    padding 15px
    background-color #363636

  .close-modal
    position absolute
    right 0
    top 0
    cursor pointer

.projects
  display flex
  justify-content space-between
  flex-wrap wrap
  margin-bottom 25px

  .search-container
    width 100%
    margin-bottom 60px

  .search
    width 100%
    max-width 260px

  .index,
  .left-container,
  .right-container
    flex-grow 1

  .right-container
    display flex
    flex-direction column
    align-items stretch

  .button-container
    height 100%
    overflow hidden

  .change-element,
  .delete-element
    width 100%
    padding-top 35%

  .image-project,
  .preview-project,
  .show-preview-button,
  .show-image-button
    display none

    &.active
      display block

  .show-preview-button,
  .show-image-button
    background-color transparent
    font-size 14px
    border none
    border-bottom 1px solid #595959
    margin-top 10px
    width 100%
    text-align center
    cursor pointer
    color #fff
    padding-bottom 5px

    &:hover
      color #595959

  input
    border none
    border-bottom 1px solid #595959
    padding-bottom 10px
    transition-duration 0.3s
    transition-property color, border-bottom-color
    color #595959
    background-color transparent
    resize none
    height 25px
    width 100%
    outline none
    font-size 14px
    font-weight 300

    &:hover, &:focus
      color #fff
      border-bottom-color #fff

  .project-container
    max-width 530px
    display flex
    justify-content space-between
    margin-bottom 25px

  .left-container
    max-width 240px
    //height 240px
    padding 35px
    background-color #333333
    margin-right 10px

  .project-preview-image
    margin-top 10px

@media all and (max-width: 1800px)
  .global-menu
    width 180px

  .users
    .facebook,
    .linkedin,
    .behance,
    .dribbble
      max-width 100%
      width 100%

    .user-description-container
      flex-direction column

    .user-name-and-position
      padding-right 0
      margin-bottom 20px

    .user-name
      margin-bottom 20px

    .user-description-textarea
      min-height 95px

    .right-container,
    .user-description-container
      padding 30px 15px

@media all and (max-width: 1200px)
  .wrapper
    padding 100px 10px 0 0

  .content
    padding 10px 15px 15px 0

  .users
    margin-bottom 15px
    .user-container
      flex-wrap wrap

    .left-container
      width 90%

    .left-container,
    .button-container
      min-width auto

    .right-container
      margin-left 50px

    .button-container,
    .right-container
      margin-top 1%

    .change-element,
    .delete-element
      background-position center 15px
      height 50%
      padding-top 50px
      min-height 100px

  .projects
    flex-direction column

  .project-container
    max-width 100%
@media all and (max-width: 950px)
  .global-menu
    width 110px

  .title-page
    font-size 65px
    text-transform uppercase
    font-weight bold
    position absolute
    right 10px
    top -62px
    color rgba(255, 255, 255, 0.1)

  .users
    .right-container,
    .left-container
      width 100%
      max-width 100%

      .social-links
        max-width 100%

    .right-container,
    .button-container
      margin-left 0

    .change-element
      margin-bottom 1%

    .change-element,
    .delete-element
      min-height 100px

@media all and (max-width: 580px)
  .wrapper
    padding 15px 8px 0 8px
    flex-direction column

  .content
    padding 10px 4px 15px 0

  .logo-container
    margin-top 0
    margin-bottom 20px
    width 100%
    text-align center

  .global-menu
    width 100%
    flex-direction row
    flex-shrink none
    flex-wrap wrap

    .menu-item
      width auto
      flex-grow 1

  .title-page
    display none

  .users
    padding 3px 8px 3px 3px

    .left-container
      flex-direction column

    .user-image-container
      width 100%
      height 200px
