* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body,
html {
  font: 14px "Roboto", sans-serif;
  background-color: #333;
}
a {
  color: #00b7ff;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border: 2px solid #333;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
}
.wrapper {
  padding: 100px 95px 0 0;
  display: flex;
}
h1 {
  color: #fff;
}
.content {
  background-color: #3b3b3b;
  width: 100%;
  padding: 50px 15px 30px;
  box-shadow: 0 0 8px 0 rgba(35,35,35,0.3);
  position: relative;
}
.title-page {
  font-size: 140px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: -120px;
  color: rgba(255,255,255,0.1);
}
.global-menu {
  width: 230px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.global-menu .menu-item {
  transition: background-color 0.3s;
  width: 100%;
}
.global-menu .menu-item.active,
.global-menu .menu-item:hover {
  background-color: #3b3b3b;
}
.global-menu .menu-item.active .link-menu,
.global-menu .menu-item:hover .link-menu {
  color: #fff;
}
.link-menu {
  transition: color 0.3s;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #5f5f5f;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}
.logo-container {
  margin-top: -70px;
  margin-bottom: 65px;
  color: #fff;
}
.logo {
  margin: auto;
  width: 75px;
  display: block;
}
.description-logo {
  text-transform: uppercase;
  font-weight: bold;
}
.title-and-description {
  padding: 0 20px 20px;
}
.title-and-description .title {
  color: #ddd;
  margin-bottom: 10px;
}
.title-and-description .description {
  color: #5f5f5f;
}
.submit-form {
  max-width: 500px;
  margin: auto;
}
.submit-form .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.submit-form .button-container {
  margin-top: 25px;
  display: flex;
}
.submit-form input,
.submit-form button,
.submit-form .user-description-textarea {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.submit-form input[type="text"] {
  border-bottom: 1px solid #ddd;
  padding: 10px 10px;
  text-transform: capitalize;
  width: 100%;
  box-sizing: border-box;
}
.submit-form input[type="file"] {
  align-self: flex-end;
}
.submit-form .input-container {
  width: 48%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.submit-form button[type="submit"] {
  background-color: #488011;
  font-size: 16px;
  width: 80px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 15px;
}
.submit-form button[type="reset"] {
  margin-right: 15px;
}
.submit-form button[type="reset"],
.submit-form button[type="delete"] {
  background-color: #f00;
  font-size: 16px;
  width: 80px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
img {
  max-width: 100%;
}
.text-page input,
.text-page textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  min-height: 25px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  transition-duration: 0.3s;
  background-color: transparent;
  border-bottom: 1px solid #595959;
  transition-property: color, border-bottom-color;
}
.text-page input:hover,
.text-page textarea:hover,
.text-page input:focus,
.text-page textarea:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.index {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 36px;
  font-weight: 500;
  flex-shrink: 0;
  width: 50px;
}
.index:after {
  content: ".";
}
.user-img {
  width: 140px;
  height: 140px;
  background-size: cover;
  background-position: center;
}
.change-element {
  background-image: url("../img/save-icon.svg");
  margin-bottom: 1%;
}
.delete-element {
  margin-top: 1%;
  background-image: url("../img/remove-icon.svg");
}
.change-element,
.delete-element {
  background-position: center;
  background-size: 35px;
  background-color: #333;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  text-transform: uppercase;
  font-weight: bold;
  color: #5f5f5f;
  height: 50%;
}
.users {
  overflow-y: auto;
  max-height: 650px;
  margin-bottom: 40px;
}
.users .user-container {
  display: flex;
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
}
.users .user-container:hover {
  box-shadow: 0 0 7px 0 rgba(109,109,109,0.6);
}
.users .user-container:last-child {
  margin-bottom: 0;
}
.users label,
.users .title-links {
  display: block;
  margin-bottom: 10px;
  color: #595959;
  font-weight: 500;
  font-size: 12px;
}
.users .user-description-textarea {
  max-height: 115px;
  min-height: 115px;
}
.users input,
.users .user-description-textarea {
  color: #595959;
  background-color: transparent;
  border: none;
  resize: none;
  height: 25px;
  width: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 300;
}
.users .fa {
  color: #595959;
}
.users .left-container,
.users .right-container,
.users .save-change,
.users .delete-element,
.users .button-container {
  flex-grow: 1;
}
.users .right-container {
  background-color: #333;
  padding: 30px;
  box-sizing: border-box;
  max-width: 480px;
}
.users .button-container {
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  min-width: 125px;
}
.users .left-container {
  background-color: #363636;
  display: flex;
  min-width: 400px;
}
.users .left-container input,
.users .left-container .user-description-textarea {
  border-bottom: 1px solid #595959;
  padding-bottom: 10px;
  transition-duration: 0.3s;
  transition-property: color, border-bottom-color;
}
.users .left-container input:hover,
.users .left-container .user-description-textarea:hover,
.users .left-container input:focus,
.users .left-container .user-description-textarea:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.users .user-image-container {
  width: 200px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}
.users .user-description-container {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.users .user-name-and-position,
.users .user-description {
  width: 100%;
}
.users .user-name-and-position {
  padding-right: 35px;
}
.users .user-name {
  margin-bottom: 40px;
}
.users .social-links {
  font-style: italic;
  max-width: 420px;
}
.users .social-links .flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.users .facebook,
.users .linkedin,
.users .behance,
.users .dribbble {
  width: 200px;
  height: 40px;
  background-color: #363636;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 1px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 3px;
}
.users .facebook input,
.users .linkedin input,
.users .behance input,
.users .dribbble input {
  padding-left: 15px;
}
.users .facebook:hover,
.users .linkedin:hover,
.users .behance:hover,
.users .dribbble:hover,
.users .facebook:focus,
.users .linkedin:focus,
.users .behance:focus,
.users .dribbble:focus {
  background-color: #d6d6d6;
}
.users .icon {
  width: 37px;
  height: 37px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}
.add-user {
  font-weight: bold;
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  width: 275px;
  height: 60px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 2px dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition-property: color, border-color;
  transition-duration: 0.3s;
}
.add-user:hover {
  border-color: #fff;
  color: #fff;
}
.modal-form {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transition: transform 0.3s;
  transform: translateY(-50%);
  max-width: 500px;
  margin: auto;
  display: none;
}
.modal-form.active {
  display: block;
}
.modal-form form {
  box-shadow: 0 0 7px 0 rgba(109,109,109,0.6);
  padding: 15px;
  background-color: #363636;
}
.modal-form .close-modal {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.projects .search-container {
  width: 100%;
  margin-bottom: 60px;
}
.projects .search {
  width: 100%;
  max-width: 260px;
}
.projects .index,
.projects .left-container,
.projects .right-container {
  flex-grow: 1;
}
.projects .right-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.projects .button-container {
  height: 100%;
  overflow: hidden;
}
.projects .change-element,
.projects .delete-element {
  width: 100%;
  padding-top: 0;
  min-width: 65px;
}
.projects .image-project,
.projects .preview-project,
.projects .show-preview-button,
.projects .show-image-button {
  display: none;
}
.projects .image-project.active,
.projects .preview-project.active,
.projects .show-preview-button.active,
.projects .show-image-button.active {
  display: block;
}
.projects .show-preview-button,
.projects .show-image-button {
  background-color: transparent;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #595959;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding-bottom: 5px;
}
.projects .show-preview-button:hover,
.projects .show-image-button:hover {
  color: #595959;
}
.projects input {
  border: none;
  border-bottom: 1px solid #595959;
  padding-bottom: 10px;
  transition-duration: 0.3s;
  transition-property: color, border-bottom-color;
  color: #595959;
  background-color: transparent;
  resize: none;
  height: 25px;
  width: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 300;
}
.projects input:hover,
.projects input:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.projects .project-container {
  display: flex;
  max-width: 33%;
  margin-bottom: 25px;
  justify-content: flex-start;
}
.projects .left-container {
  max-width: 240px;
  padding: 35px;
  background-color: #333;
  margin-right: 10px;
}
.projects .project-preview-image {
  margin-top: 10px;
}
@media all and (max-width: 1800px) {
  .global-menu {
    width: 180px;
  }
  .users .facebook,
  .users .linkedin,
  .users .behance,
  .users .dribbble {
    max-width: 100%;
    width: 100%;
  }
  .users .user-description-container {
    flex-direction: column;
  }
  .users .user-name-and-position {
    padding-right: 0;
    margin-bottom: 20px;
  }
  .users .user-name {
    margin-bottom: 20px;
  }
  .users .user-description-textarea {
    min-height: 95px;
  }
  .users .right-container,
  .users .user-description-container {
    padding: 30px 15px;
  }
  .projects .project-container {
    max-width: 50%;
  }
}
@media all and (max-width: 1200px) {
  .wrapper {
    padding: 100px 10px 0 0;
  }
  .content {
    padding: 10px 15px 15px;
  }
  .users {
    margin-bottom: 15px;
  }
  .users .user-container {
    flex-wrap: wrap;
  }
  .users .left-container {
    width: 90%;
  }
  .users .left-container,
  .users .button-container {
    min-width: auto;
  }
  .users .right-container {
    margin-left: 50px;
  }
  .users .button-container,
  .users .right-container {
    margin-top: 1%;
  }
  .users .change-element,
  .users .delete-element {
    background-position: center 15px;
    height: 50%;
    padding-top: 50px;
    min-height: 100px;
  }
}
@media all and (max-width: 950px) {
  .global-menu {
    width: 110px;
  }
  .title-page {
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: -62px;
    color: rgba(255,255,255,0.1);
  }
  .users .right-container,
  .users .left-container {
    width: 100%;
    max-width: 100%;
  }
  .users .right-container .social-links,
  .users .left-container .social-links {
    max-width: 100%;
  }
  .users .right-container,
  .users .button-container {
    margin-left: 0;
  }
  .users .change-element {
    margin-bottom: 1%;
  }
  .users .change-element,
  .users .delete-element {
    min-height: 100px;
  }
  .projects .project-container {
    max-width: 100%;
  }
}
@media all and (max-width: 680px) {
  .projects .left-container {
    max-width: 140px;
    padding: 15px;
  }
  .projects .user-img {
    width: 110px;
    height: 90px;
  }
}
@media all and (max-width: 580px) {
  .wrapper {
    padding: 15px 8px 0 8px;
    flex-direction: column;
  }
  .content {
    padding: 10px 4px 15px 0;
  }
  .logo-container {
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .global-menu {
    width: 100%;
    flex-direction: row;
    flex-shrink: none;
    flex-wrap: wrap;
  }
  .global-menu .menu-item {
    width: auto;
    flex-grow: 1;
  }
  .title-page {
    display: none;
  }
  .users {
    padding: 3px 8px 3px 3px;
  }
  .users .left-container {
    flex-direction: column;
  }
  .users .user-image-container {
    width: 100%;
    height: 200px;
  }
}
