doctype html
html
    head
        title Admin Panel
        link(rel="stylesheet", href="/style/style.css")
    body

    -nav = ["Users","Projects","Blog"];

    ul.global-menu
        each item in nav
            li.menu-item
                a(href=item)=item

    block content


    script(src="/js/index.js").
