doctype html
html
    head
        title Admin Panel
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,500,700")
        //link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
        link(rel="stylesheet", href="/style/style.css")
    body

    -nav = ["users","projects","blog"];

    .wrapper
        ul.global-menu

            li.logo-container
                a(href="/")
                    img.logo(src="../img/logo.svg")
                p.description-logo Dashboard

            each item in nav
                li.menu-item(data-name=item)
                    a.link-menu(href=`/admin/${item}`)=item

        block content


    script(src="/js/index.js")
