include head

.login-form-wrap
    form.login-form(action="/api/login" method="post")
        input.name(type="text" placeholder="name")
        input.pass(type="number" placeholder="password")
        button.submit-login-form(type="submit") Login
