<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/header.css">
    <title>Rivoli</title>
</head>
<body>
<div class="wrapper dalForno-pizza">
    <header>
        <div class="middle-text">
            <div class="logo">
                <a href="pizzeria.html"><img src="../img/Df-white.svg" alt="rivoli"></a>
            </div>
        </div>
        <div class="scroll-down">
            <a href="#" id="down"></a>
            <span>click to continue</span>
        </div>
    </header>
    <main id="main">
        <div id="mobile-menu" class="mobile-menu">
            <div class="float-container">
                <a href="#" class="toggle-menu"><span></span></a>
                <a href="#form" class="scroll book-a-room">
                    <span class="parallelogram"><img src="../img/key.svg" alt="key"></span>
                    <span class="text">Забронювати номер</span>
                </a>
                <a href="pizzeria.html" class="logo">
                    <img src="../img/Rivoli_full.svg" alt="Rivoli">
                </a>
            </div>
        </div>
        <aside class="active" id="aside">
            <div class="logo">
                <a href="pizzeria.html">
                    <img src="../img/df-color.svg" class="hidden-mobile" alt="Rivoli">
                    <img src="../img/df.svg" class="show-mobile" alt="Rivoli">
                </a>
                <h3>Dal Forno</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="hotel.html" title="Rivoli city Club Hotel" class="hotel">
                        <img src="../img/3d-building_2.svg" class="hidden-img" alt="Rivoli city Club Hotel">
                        <img src="../img/3d-building.svg" class="hover-img" alt="Rivoli city Club Hotel">
                        <span>Rivoli <i>city Club Hotel</i></span>
                    </a></li>
                    <li><a href="pizzeria.html" title="Dal forno pizzeria" class="pizza">
                        <img src="../img/pizza-green.svg" class="hidden-img" alt="Dal forno pizzeria">
                        <img src="../img/pizza-white.svg" class="hover-img" alt="Dal forno pizzeria">
                        <span>Dal forno <i>pizzeria</i></span>
                    </a></li>
                    <li><a href="restaurant.html" title="Rivoli Restaurant" class="res">
                        <img src="../img/restaurant-blue.svg" class="hidden-img" alt="Rivoli Restaurant">
                        <img src="../img/restaurant-white.svg" class="hover-img" alt="Rivoli Restaurant">
                        <span>Rivoli <i>Restaurant</i></span>
                    </a></li>
                    <li><a href="/" class="conf" title="Conference Hall">
                        <img src="../img/presentation-blue.svg" class="hidden-img" alt="Conference Hall">
                        <img src="../img/presentation-white.svg" class="hover-img" alt="Conference Hall">
                        <span>Conference <i>Hall</i></span>
                    </a></li>
                </ul>
            </nav>
            <div class="padding-container">
                <div class="mobile-flex">
                    <div class="left">
                        <div class="number">
                            <p><a href="tel:+38 (050) 38 20 222">+38 (050) 38 20 222</a></p>
                            <a href="tel:+38 (068) 38 20 222">+38 (068) 38 20 222</a>
                        </div>
                        <address>
                            <p>м.Чернівці Глибоцький р-н.,</p>
                            <p>с.Чагор, вул Незалежності 2</p>
                        </address>
                    </div>
                    <div class="right">
                        <div class="social">
                            <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="close-nav" title="Zoom menu">
                <img src="../img/button-of-two-arrows.svg" alt="icon-close">
            </a>
            <div class="lang">
                <a href="#" id="en">EN</a>
                <a href="#" id="ru">RU</a>
                <a href="#" id="ua">UA</a>
            </div>
            <span id="tooltip">Натисніть, щоб<br>відкрити меню</span>
        </aside>
        <div class="content">
            <div class="wow fadeInUp food-container">
                <img src="../img/dalForno/salat.png" alt="salat-img" class="salat">
                <div class="description">
                    <div class="logo">
                        <img src="../img/df-color.svg" alt="Rivoli">
                    </div>
                    <p>Піцерія <a href="pizzeria.html">Dal Forno</a> знаходиться на околцях міста Чернівці,
                        де ви зможете відпочити від міської метушні адже ми маємо потенціал
                        для задоволення будь-яких уподобань.</p>
                    <p><a href="pizzeria.html">Dal Forno</a> - це чудовий смак, стильний та затишний інтер'єр,
                        палкий дух італійської пісні та запах свіжоспеченої піци,
                        все це перенесе Вас в Італію, країну гурманів і цінителів вишуканого.</p>
                    <p>Для приготування страв використовуються найсвіжіші,
                        екологічно чисті овочі, фрукти, м’ясо та зелень,
                        страви в <a href="pizzeria.html">Dal Forno</a>
                        готуються з любовью висококваліфікованими кухарями.</p>

                    <h4>ми Вам пропонуємо:</h4>

                    <div class="flex-container">
                        <div class="item">
                            <img src="../img/italy.svg" alt="icon-italy">
                            <h5>Страви італійської кухні за унікальними рецептами</h5>
                        </div>
                        <div class="item">
                            <img src="../img/three-balloons.svg" alt="icon-three-balloons">
                            <h5>Сімейні свята та відпочинку у затишній атмосфері</h5>
                        </div>

                        <div class="item">
                            <img src="../img/wine.svg" alt="icon-wine">
                            <h5>Вина відомих брендів Франції, Італії, Іспанії, Австралії, Чілі, України</h5>
                        </div>
                        <div class="item">
                            <img src="../img/cocktail.svg" alt="icon-cocktail">
                            <h5>Чудові безалкогольні та алкогольні коктейлі, соки та фреші</h5>
                        </div>

                        <div class="item">
                            <img src="../img/rocking-horse.svg" alt="icon-horse">
                            <h5>Дитяче меню та кімната ігор</h5>
                        </div>
                        <div class="item">
                            <img src="../img/kitchen-oven.svg" alt="icon-kitchen-oven">
                            <h5>Страви приготовані
                                в хоспері</h5>
                        </div>

                        <div class="item">
                            <img src="../img/hookah.svg" alt="icon-hookah">
                            <h5>Кальян від студії KM Hookah</h5>
                        </div>
                        <div class="item">
                            <img src="../img/waiter-with-mostache.svg" alt="icon-waiter">
                            <h5>Висококваліфікований персонал</h5>
                        </div>
                    </div>
                </div>
                <img src="../img/dalForno/pizza.png" alt="pizza-img" class="pizza">
            </div>
            <div class="welcome-to change-text">
                <div class="title">
                    <p>насолоджуйтесь відпочинком в комфортабельних номера,
                        бенкетному чи конференц залі в готельному комплексі</p>
                    <h3 class="flex-container"><span>Rivoli City Club Hotel</span></h3>
                    <a href="hotel.html">Детальніше</a>
                </div>
            </div>
            <div class="instagram">
                <ul class="juicer-feed" data-feed-id="rivoli">
                </ul>
                <a href="https://www.instagram.com/" class="link-instagram">
                    <span class="detail">детальніше</span>
                    <span class="img-container">
                        <img src="../img/instagram.svg" alt="instagram">
                    </span>
                </a>
            </div>
            <div class="welcome-to">
                <div class="title">
                    <p>ласкаво просимо до</p>
                    <h3 class="flex-container"><span>Rivoli City Club Hotel</span></h3>
                </div>
                <address class="flex-container">
                    <div class="item">
                        <p><a href="tel:+38 (050) 38 20 222">+38 (050) 38 20 222</a></p>
                        <p><a href="tel:+38 (068) 38 20 222">+38 (068) 38 20 222</a></p>
                    </div>
                    <div class="item">
                        <p>м.Чернівці Глибоцький р-н., с.Чагор</p>
                        <p>вул Незалежності 2</p>
                    </div>
                    <div class="item">
                        <p><a href="mailto:info.rivoli.ch@gmail.com">info.rivoli.ch@gmail.com</a></p>
                    </div>
                </address>
            </div>
            <div class="map">
                <div id="map"></div>
                <form class="wow animated fadeInRight" id="form">
                    <div class="position-img">
                        <h5>Напишіть нам</h5>
                    </div>
                    <div class="container-form">
                        <div class="input-container">
                            <input type="text" name="userName" placeholder="Ім'я" required>
                        </div>
                        <div class="input-container">
                            <input type="email" name="email" placeholder="E-mail" required>
                        </div>
                        <div class="input-container">
                            <input type="number" min="0" name="tel" placeholder="Телефон" required>
                        </div>
                        <div class="input-container">
                            <textarea name="description" placeholder="Ваш коментар"></textarea>
                        </div>
                        <button type="submit">відправити повідомлення</button>
                    </div>
                </form>
            </div>
            <div class="copyright">
                <div class="flex-container">
                    <div class="left">
                        <p>© 2017 All right reserved. Rivoli-hotel.com.ua</p>
                    </div>
                    <div class="border"></div>
                    <div class="right">
                        <p>site management by <a href="http://www.shade-designs.com.ua/" target="_blank">shade-designs.com.ua</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div id="popupMessage">
    <span>Message sent</span>
</div>
<div id="preload">
    <div class="lds-dual-ring">
        <div class="ring"></div>
        <div class="ring"></div>
    </div>
</div>
<link rel="shortcut icon" href="../img/favicon/favicon.ico" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async src="../js/all.min.js"></script>
<script async src="//assets.juicer.io/embed.js"></script>
<link rel="stylesheet" href="../libs/inst.css">
</body>
</html>